<% provide(:title, "TALKROOM Top") %>
<div class="box_area">
  <div class="box">
    <p class="page-title">TALKROOM</p>
    <%= link_to rooms_path do %>
      <div class="doar-square">
        <div class="doar-circle"></div>
      </div>
    <% end %>
  </div>
</div>