<% provide(:title, "TALKROOM Top") %>
<div class="box_area">
  <div class="box">
    <p class="page-title">TALKROOM</p>

    <div class="doar-square">
      <div class="doar-circle"></div>
    </div>

  </div>
</div>