<div class="chat-box">
  <div class="chat-area">

    <% if message.user_id == (session[:user_id] || current_user) %>
      <div class="time-id-info-mine">
        <p><%= "#{message.user_name} #{simple_time(message.created_at)}" %></p>
      </div>
      <div class="chat-balloon-line-mine">
        <div class="chat-balloon-mine">
          <pre id="msg_id"><%= message.content %></pre>
        </div>
      </div>
    <% else %>
      <p class="time-id-info"><%= "#{message.user_name} #{simple_time(message.created_at)}" %></p>
      <div class="chat-balloon">
        <pre id="msg_id"><%= message.content %></pre>
      </div>
    <% end %>

  </div>
</div>