<%= link_to article_path(article.id), class: 'link-none' do %>
    <div class="active-room-content">
        <div class="active-room-title"><p><%= article.title %> Like:<%= article.like %></p></div>
    </div>
<% end %>