<% provide(:title, "ROOM Select") %>

<div class="main-page-select">
  <div class="over-scroll">
    <div class="user-name">
      <form>
        <div class="form-label"><p>User Name</p></div>
        <input class="text-input-form"type="text" name="user_name" maxlength="10" value="<%= @user.name %>">
      </form>
    </div>

    <div class="room-search">
      <form>
        <div class="form-label"><p>ROOM search</p></div>
        <input class="text-input-form"type="text" name="rooms_search">
        <div class="search-button">search</div>
        <div class="search-button">create</div>
      </form>
    </div>

    <div class="room-content">
      <div class="room-content-title"><p>Active Room</p></div>
      <div class="active-room">
        <div class="rooms-info">
          <p>room title</p>
          <p>room people</p>
          <p>tag tag tag tag tag tag tag</p>
        </div>

        <div class="rooms-info">
          <p>room title</p>
          <p>room people</p>
          <p>tag tag tag tag tag tag tag</p>
        </div>

        <div class="rooms-info">
          <p>room title</p>
          <p>room people</p>
          <p>tag tag tag tag tag tag tag</p>
        </div>
      </div>
    </div>
  </div>
</div>