<% provide(:title, "ROOM Select") %>

<div class="main-page-select">
  <div class="over-scroll">
    <div class="user-name">
      <div class="user-name-value"><p>NAME： <%= @user.name %></p></div>
      <%= link_to edit_user_path(@user.id), class: 'link-none' do %>
        <div class="search-button">CHANGE</div>
      <% end %>
    </div>
    <div class="room-search">
      <form>
        <div class="form-label"><p>ROOM SEARCH</p></div>
        <input class="text-input-form"type="text" name="rooms_search">
        <div class="search-button">SEARCH</div>
        <%= link_to new_room_path, class: 'link-none' do %>
          <div class="search-button">CREATE</div>
        <% end %>
      </form>
    </div>

    <div class="room-content">
      <div class="room-content-title"><p>ACTIVE ROOM</p></div>
      <div class="active-room">
        <%= render @rooms %>
      </div>
    </div>
  </div>
</div>